.h-auto-img {
    margin-top: -1rem;
    max-width: 50%;
}
.h-auto-img1{
    height: 15vw;
}
hr {
    position: relative;
    top: 20px;
    border: none;
    height: 2px;
    width: 100%;
    background: black;
    margin-bottom: 4rem;

}
.margin-top {
    margin-top:10rem
}
.margin-bottom {
    margin-bottom: 10rem;
}
.hf {
    max-width: 100%;
}